@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid small">
    <div class="row">
        <div class="col-md-12">
            <div class="text-center">
                <h1 class="display-4">Welcome</h1>
            </div>
        </div>
    </div>
    <hr />

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    Informações
                </div>
                <div class="card-body">
                    <h5 class="card-title">Fluxo do Sistemas</h5>
                    <p class="card-text">1º Cadastra a empresa</p>
                    <p class="card-text">2º Cadastro o prestador</p>
                    <p class="card-text">3º Cadastra o serviço</p>
                    <p class="card-text">4º Cadastro o contrato do cliente</p>
                    <p class="card-text">5º Cadastro a Ordem de Serviço</p>
                    <hr />
                    <h5 class="card-title">Arquitetura</h5>
                    <p class="card-text">DDD</p>
                    <p class="card-text">SQL Server</p>
                    <p class="card-text">Entity Framework Core 3.x</p>
                </div>
            </div>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    Empresa
                </div>
                <div class="card-body">
                    <h5 class="card-title">Info</h5>
                    <p class="card-text">Cadastra os dados da Empresa que envia o funcionário que presta o serviço</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    Prestador
                </div>
                <div class="card-body">
                    <h5 class="card-title">Info</h5>
                    <p class="card-text">Cadastra os dados do prestador de serviços</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    Contrato
                </div>
                <div class="card-body">
                    <h5 class="card-title">Info</h5>
                    <p class="card-text">Cadastra os dados do cliente</p>
                </div>
            </div>
        </div>
    </div>

    <br />

    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    OS - Ordem de Serviço
                </div>
                <div class="card-body">
                    <h5 class="card-title">Info</h5>
                    <p class="card-text">Cadastra os dados da Ordem de Serviço</p>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    Serviço
                </div>
                <div class="card-body">
                    <h5 class="card-title">Info</h5>
                    <p class="card-text">Cadastra os serviços que podem ser prestados</p>
                </div>
            </div>
        </div>
    </div>
</div>