@model XptoOrcamentos.Models.Prestador.PrestadorViewModel

<div class="container-fluid small">
    <a asp-action="Create" asp-controller="Prestador" class="btn btn-outline-info">Novo Prestador</a>
    <hr />
    <div class="row">
        <div class="col-md-12">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>Cód</th>
                        <th>Nome</th>
                        <th>CPF</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.Prestadores != null)
                    {
                        foreach (var item in Model.Prestadores)
                        {
                            <tr>
                                <td>@item.Id</td>
                                <td>@item.Nome</td>
                                <td>@item.CPF</td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="3" class="text-center">Não existem dados cadastrados</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>